body{
    font-family: var(--font-family);
    color: var(--color-primary);

}
h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

h2{
    color: var(--color-white);
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2px;
}

h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

p span{
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 21px;
}

/* HEADER */
header{
    display: flex;
    margin: 12px 40px;
}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 132px;
}
.header__logo img{
    width: 16px;
    height: 16px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__navBar ul, .header__navLinks ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__navBar a, .header__navLinks a{
    text-decoration: none;
}
.header__navBar a{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 0 18px;
    color: var(--color-primary);
}
.header__navLinks a{
    background-color: var(--color-light);
    display: flex;
}
.header__navLinksSearch{
    width: 128px;
    border-radius: var(--border-radius);
    padding: 8px 16px;
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 24px;
}
.header__navLinksSearch img{
    padding-right: 8px;
    width: 24px;
    height: 24px;
}
.header__navLinksCar{
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 0 36px;
}
.header__navLinksPerfil{
    border-radius: 20px;
}
.header__navLinksPerfil img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* MAIN */
main{
    padding: 20px 160px;
    border-top: 1px solid var(--color-light);
}

/* BANNER */
.section-banner{
    background-image:url(/assets/images/banner.png);
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius);
    margin: 16px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 445px;
    justify-content: end;
}
.section-banner__text, .section-banner__title{
    color: var(--color-white);
}
.section-banner__tittle{
    margin: 0;
}
.section-banner__button{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius:var(--border-radius);
    border-style: none;
    background-color: var(--color-red);
    color: var(--color-white);
    margin: 20px 0 0;
    cursor: pointer;
    align-self: center;
}

/* PRODUCTS & CATEGORY */
.section-products, .section-category{
    margin: 0 8px;
}
.section-products__title, .section-category__title{
    padding: 0 8px;
    margin: 20px 0 12px;
}
.section-products__items, .section-category__items{
    display: flex;
    justify-content: space-between;
}
.section-products__item, .section-category__item{
    width: 33.3%;
    padding: 16px 8px;
}
.section-products__item img, .section-category__item img{
    width: 100%;
    height: 244px;
    object-fit: cover;
}
.section-products__item h5, .section-category__item h5{
    margin: 16px 0 0;
}
.section-products__item p{
    margin: 0;
}

/* FOOTER */
footer{
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__navFooter{
    padding: 40px 16px 0;
    width: 100%;
}
.footer__navFooter ul{
    justify-content: space-between;
}
.footer__navFooter ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
.footer__navFooter a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary);
    cursor: pointer;
}
.footer__text{
    color: var(--color-secondary);
}

/* Small devices */
@media (max-width: 767px) {
    header{
        flex-direction: column;
        align-items: center;
        margin: 16px 0;
    }
    .header__nav{
        flex-direction: column;
    }
    .header__navBar{
        margin: 16px 0;
    }
    .header__navBar a{
        padding: 0 10px;
    }
    main{
        padding: 20px 0;
    }
    .section-banner{
        margin: 0;
        min-height: 250px;
        text-align: center;
    }
    .section-banner__tittle{
        margin: 45px 0 0;
    }
    .section-banner__text{
        margin: 0 16px;
    }
    .section-banner__button{
        margin: 20px 0 45px;
    }
    .section-products, .section-category{
        margin: 20px 0 12px;
        text-align: center;
    }
    .section-products__items, .section-category__items{
        flex-direction: column;
    }
    .section-products__item, .section-category__item{
        width: 100%;
        padding: 0 0 16px;
    }
    .section-products__item img, .section-category__item img{
        height: 200px;
        object-fit: cover;
        object-position: center;
    }
    footer{
        padding: 0;
    }
    .footer__navFooter{
        padding: 0;
    }
    .footer__navFooter ul{
        flex-direction: column;
        text-align: center;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    header{
        margin: 12px 20px;
    }
    .header__logo{
        width: 152px;
    }
    .header__nav{
        flex-direction: column;
        align-items: end;
    }
    .header__navLinks ul{
        margin: 0;
    }
    main{
        padding: 20px;
    }
    .section-banner{
        margin: 0;
    }
    .section-products, .section-category{
        margin: 20px 0 0;
    }
    footer{
        padding: 0 20px;
    }
}

/* Large devices */
@media (max-width: 1199px) {
    main{
        padding: 20px 60px;
    }
    footer{
        padding: 0 60px;
    }
}
